// Global Mixins ================================================================================= /

// Opacity, extend to IE
@mixin opacity ($value) {
  opacity: $value;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=($value * 100))"; // IE8
  filter: alpha(opacity=($value * 100)); // IE5-7
  zoom: 1; // hacks IE requirement that element be positioned
}